@{
    Layout = "/Views/Templates/Design.cshtml";
    ViewBag.Title = "Design template";
}

@section header {
    <div class="section-highlight">
        @@section header
    </div>
}

@section body {
    <div class="section-highlight">
        @@section body
    </div>
}