@{
    Layout = "~/Views/Templates/Master.cshtml";
    ViewBag.Title = "Page Not Found";
}

@section body {
    <div class=" text-center">
        <h2>Page Not Found</h2>
        <p>
            It seems I've made a mistake &ndash; sorry about that!
        </p>
        <p>
            Let's skip the part where we explain in technical terms what just happened and jump right to solving your problem.            
        </p>
        <p>
            Maybe check the <a href="/sitemap">sitemap</a> to see if you can find the missing page there.
        </p>
    </div>
}