@{
    Layout = "~/Views/Templates/Master.cshtml";
    ViewBag.Title = "Server Error";
}

@section body {
    <div class=" text-center">
        <h2>Server Error</h2>
        <p>How embarassing! I'll try look into fixing this issue as soon as possible.</p>
        <p>
            Maybe try visiting a different page in the <a href="/sitemap">sitemap</a>.
        </p>
    </div>
}