@{
    Layout = "~/Views/Templates/Master.cshtml";
    ViewBag.Title = "Index";
}

@section head {
    <base href="/">
}

@section body {
    <h2>An Empty Page</h2>
    <p>Boilerplate</p>
}