@{
    Layout = "~/Views/Templates/Design.cshtml";
    ViewBag.Title += "Applications - Design System";
}

@section header {
    <h3>Applications</h3>
    <p>The Applications level is the entry point to the design system. It is where we document the various applications or products built using the design system. Applications can be thought of as case studies that are entrenched into the hierarchy of the design system. Each Application entry contains the necessary context to understand what the application does, the problem space it exists within, how it meets customers’ needs, and its unique organization of Features.</p>
}