<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="DefaultConnection"
      connectionString="[PRODUCTION CONNECTION STRING GOES HERE]"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors xdt:Transform="SetAttributes(mode)" mode="On"/>
  </system.web>

  <system.webServer>
    <security xdt:Transform="InsertIfMissing">
      <requestFiltering removeServerHeader="true" xdt:Transform="InsertIfMissing"  />
    </security>
    <rewrite xdt:Transform="InsertIfMissing">
      <rules>
        <rule name="Redirect www to domain.com" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="www.baseproject.com.au" />
          </conditions>
          <action type="Redirect" url="http://baseproject.com.au/{R:0}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>

  <dotless xdt:Transform="SetAttributes(minifyCss,cache)" minifyCss="true" cache="true" />
  
</configuration>